/* Let's highlight canvas boundaries */
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
  overflow: scroll;
}

.editor-canvas {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: rgb(212, 212, 212);
  /* width: 800px; */
}

.panel__right {
  flex-basis: 230px;
  /* position: relative; */
  overflow-y: auto;
  flex-shrink: 0;
}

.panel__right>div {
  display: none;
}

.gjs-pn-panel {
  position: initial;
}

.panel__switcher {
  position: initial;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  padding: 0;
  margin: 0;
}